body {
  background-color: #647382;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;

}

.block {
  width: 45%;
  margin: 10px auto;
  padding: 10px;
}

.perk-display {
  overflow: hidden;
  padding: 5px;
  width: 90%;
}

select {
  background-color: #9aa6b1;
  color: white;
  border: none;
  height: 25px;
}

.test {
 margin-left: 1%;
}

.perk-text {
  width: 100%;
}

h1 {
  padding: 5px;
  margin: 0;
}

img {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

ul {
  padding: 5px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 5px;
  list-style-type: none;
}

li p {
  margin-left: auto;
  margin: 0;
}
